html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#tree-holder {
  flex: 0 1 150px;
}

#canvas-holder {
  flex: 1 1;
}
