body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
}

#canvas-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#canvas-container>canvas {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

h1.ui {
  position: absolute;
  color: white;
  font-family: monospace;
  user-select: none;
  opacity: 0.4;
}

h1#points {
  left: 50%;
  transform: translateX(-50%);
}

h1#life {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

h1#clock {
  left: 0;
  margin-left: 10px;
}

div.ui {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-family: monospace;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.ui > button {
  flex: 1 1 100%;
  background: transparent;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}

div.ui > h1 {
  flex: 1 1 100%;
  text-align: center;
  margin: 0;
}